{% extends 'base.html' %}


{% block content %}
<div class="container">

    <h1>Hello html!</h1>

    <div id="app">
        <h2>${ message }</h2>

        <div id="plot"></div>

        <div class="btn-group btn-group-toggle">
            <button v-on:click="hasDisease" type="button" class="btn btn-info" data-toggle="button" aria-pressed="false"
                autocomplete="off">
                Has heart disease.
            </button>
            <button v-on:click="doesNotHaveDisease" type="button" class="btn btn-primary" data-toggle="button"
                aria-pressed="false" autocomplete="off">
                Does not have heart disease.
            </button>
        </div>

    </div>

</div>
{% endblock content %}

{% block vuejs %}
<script>

    const app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            message: 'Hello Vue!',
            results: [],
            traceHasDisease: {
                x: [],
                type: "histogram",
                opacity: 0.5,
                marker: {
                    color: 'green',
                },
                name: 'Has Heart Disease',
            },
            traceDoesNotHaveDisease: {
                x: [],
                type: "histogram",
                opacity: 0.6,
                marker: {
                    color: 'red',
                },
                name: 'Does not have Heart Disease',
            },
            layout: {
                barmode: "overlay",
                title: 'Age vs Heart Disease',
                xaxis: {
                    title: 'Age',
                },
            }
        },
        mounted() {
            console.log('app created...');
            axios.get("/apiheart/age_desease/").then(response => {
                this.results = response.data
            });

            Plotly.newPlot('plot', [this.traceHasDisease, this.traceDoesNotHaveDisease], this.layout);

        },
        methods: {
            hasDisease: function (event) {
                let x = this.results.map(elem => {
                    //console.log(elem.presence_of_heart_disease == 1);
                    if (elem.presence_of_heart_disease == 1) {
                        return elem.age;
                    }
                });
                this.traceHasDisease.x = x.filter(function (el) {
                    return el != null;
                });
                Plotly.update("plot", [this.traceHasDisease, this.traceDoesNotHaveDisease], this.layout);
            },
            doesNotHaveDisease: function (event) {
                let x = this.results.map(elem => {
                    //console.log(elem.presence_of_heart_disease == 1);
                    if (elem.presence_of_heart_disease == 0) {
                        return elem.age;
                    }
                });
                this.traceDoesNotHaveDisease.x = x.filter(function (el) {
                    return el != null;
                });
                Plotly.update("plot", [this.traceHasDisease, this.traceDoesNotHaveDisease], this.layout);
            },

        }
    })
</script>
{% endblock vuejs %}